/* здесь подключите шрифты*/
@mixin font-face ($font-src) {
  @font-face {
    font-family: "Oswald";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: $font-src;
  }

}
/*
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/source/fonts/oswald/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/source/fonts/lato/Lato-Regular.woff2") format("woff2");
}*/
