/* GLOBAL */
@import "./global/variables.scss";
@import "./global/global.scss";
@import "./global/fonts.scss";
@import "./global/visually-hidden.scss";


/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/programs.scss";
@import "./blocks/promo.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/catalog.scss";
@import "./blocks/extra.scss";
@import "./blocks/form.scss";
@import "./blocks/page-main.scss";
