.advantages__title {
  font-family: "Oswald";
  font-weight: 400;
  size: 36px;
  line-height: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__text {
  font-family: "Lato";
  font-weight: 400;
  size: 14px;
  line-height: 18px;
}
