.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  size: 60px;
  line-height: 60px;
}

.product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.product__info {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 20px;
}

.product__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

