.catalog__title {
  font-family: "Oswald";
  font-weight: 400;
  size: 60px;
  line-height: 60px;
}

.product__title {
  font-family: "Oswald";
  font-weight: 400;
  size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}


