.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  size: 60px;
  line-height: 60px;
  text-align: center;
}
 .catalog__list {
  list-style: none;
  padding: 0;
   margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
 }
