.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 20px;
}

.contacts__address {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  size: 14px;
  line-height: 20px;
}
