.extra__title {
  font-family: "Oswald";
  font-weight: 400;
  size: 36px;
  line-height: 36px;
}

.extra__item-title {
  font-family: "Oswald";
  font-weight: 400;
  size: 20px;
  line-height: 20px;
}

.extra__item-info {
  font-family: "Lato";
  font-weight: 400;
  size: 16px;
  line-height: 20px;
}

.extra__item-button {
  font-family: "Oswald";
  font-weight: 400;
  size: 16px;
  line-height: 20px;
}
