.programs {
  background-color: #ffffff;
}

.programs__container {
  display: flex;
}

.programs__title {
  padding-left: 80px;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aquamarine;
  }

  &::after {
    content: "";
    position: absolute;
  }

}

.programs__title--slimming::after {
  width: 36px;
  height: 50px;
  background-image: url("../../images/icons/stack.svg#cat-slim");
  top: 0;
  left: 0;

}


.programs__text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  size: 14px;
  line-height: 18px;
}

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.programs__item {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 280px;
  height: 266px;
  background-color: #f2f2f2;
}
